<div id="vts-attributes" class="page-block even">
  <h2 class="title">Our Mission is to consistently exceed customer expectations by providing the most experienced nationwide staff, crew &amp; labor in the audio visual industry.</h2>
  <div class="attribute-block">
    <div class="inner">
      <div class="icon-wrapper right"></div>
      <div class="attribute-content">
        <h4 class="title"><span class="checkmark">✓ </span> RELIABILITY</h4>
      <%= "#{t('company_name')}" %> provides reliable, highly skilled and professional audio visual experts its clientele. After contracting <%= "#{t('company_nickname')}" %>, you will rest easy knowing that the production end of your event will be handled by the best AV crews in the business. Our non-union workforce understands the high demands of the production business. Each of our team members have strong work ethics to ensure we make your event or trade show excellent.                          </div>
    </div>
  </div>
  <div class="attribute-block">
    <div class="inner">
      <div class="icon-wrapper left"></div>
      <div class="attribute-content">
        <h4 class="title"><span class="checkmark">✓ </span> RELATIONSHIPS</h4>
      Our goal is to commit ourselves fully to each client and cultivate a long and prosperous working relationship. At <%= "#{t('company_nickname')}" %> we understand that to fulfill our commitment, we must provide customer satisfaction with an unmatched degree of professionalism. That is exactly what we do.                          </div>
    </div>
  </div>
  <div class="attribute-block">
    <div class="inner">
      <div class="icon-wrapper right"></div>
      <div class="attribute-content">
        <h4 class="title"><span class="checkmark">✓ </span> BOTTOM LINE</h4>
      We value your time and business. With the convenience of one phone call to <%= "#{t('company_name')}" %>, you will have a complete, reliable, highly talented and professional team at your location. Our one-stop shop also saves you time and money. <%= "#{t('company_nickname')}" %> is your complete solution for your next event.                          </div>
    </div>
  </div>
  <div class="attribute-block">
    <div class="inner">
      <div class="icon-wrapper right"></div>
      <div class="attribute-content">
        <h4 class="title"><span class="checkmark">✓ </span> PASSION</h4>
      For your convention, trade show or event, you have a vision of what you would like to see. <%= "#{t('company_nickname')}" %> takes your vision and makes it a reality. The <%= "#{t('company_nickname')}" %> AV Tech Staffing team members are extremely passionate about their work. They are dedicated to the industry and have passion for your show. By committing ourselves to your next event, <%= "#{t('company_name')}" %> will make it spectacular. You want it, we'll make it happen!                          </div>
    </div>
  </div>
  <div class="attribute-block">
    <div class="inner">
      <div class="icon-wrapper left"></div>
      <div class="attribute-content">
        <h4 class="title"><span class="checkmark">✓ </span>  EXPERIENCE</h4>
      All of our team members are fully trained and seasoned Audio Visual professionals. You can count on <%= "#{t('company_nickname')}" %> for having the best AV Tech Staffing workforce in the industry. At <%= "#{t('company_name')}" %>, our meticulous attention to detail shows in the outcome of each project. We do it right the first time and every time.                          </div>
    </div>
  </div>
  <style type="text/css" media="screen">
  </style>
</div>